<!DOCTYPE html>
<html lang="zxx" dir="ltr">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">

  <title>Devlion task</title>

  <link rel="stylesheet" href="./lib/slick-carousel/slick/slick.css">
  <link rel="stylesheet" href="./css/main.css">

  <meta name="Description" content="Test task for Devlion">

</head>
<body>
  <header class="hidden">
    <h1 class="page-title">Devlion test task</h1>
    <p class="author">by Den Hnatiuk</p>
  </header>
  <div class="container content-wrapper">
    <div class="col-xs-12 col-sm-9">
      <div class="slider horizontal">
        <figure class="item active" data-position="1">
          <img src="http://via.placeholder.com/200x100" alt="Slide 1">
          <figcaption>Horizontal Slide 1 Caption</figcaption>
        </figure>
        <figure class="item" data-position="2">
          <img src="http://via.placeholder.com/200x100" alt="Slide 2">
          <figcaption>Horizontal Slide 2 Caption</figcaption>
        </figure>
        <figure class="item" data-position="3">
          <img src="http://via.placeholder.com/200x100" alt="Slide 3">
          <figcaption>Horizontal Slide 3 Caption</figcaption>
        </figure>
        <figure class="item" data-position="4">
          <img src="http://via.placeholder.com/200x100" alt="Slide 4">
          <figcaption>Horizontal Slide 4 Caption</figcaption>
        </figure>
        <figure class="item" data-position="5">
          <img src="http://via.placeholder.com/200x100" alt="Slide 5">
          <figcaption>Horizontal Slide 5 Caption</figcaption>
        </figure>
        <figure class="item" data-position="6">
          <img src="http://via.placeholder.com/200x100" alt="Slide 6">
          <figcaption>Horizontal Slide 6 Caption</figcaption>
        </figure>
      </div>
      <div class="main-content">
        <p class="hidden" data-text="1">This is text appeared to 1 vertical slide</p>
        <p class="hidden" data-text="2">This is text appeared to 2 vertical slide</p>
        <p class="hidden" data-text="3">This is text appeared to 3 vertical slide</p>
        <p class="hidden" data-text="4">This is text appeared to 4 vertical slide</p>
        <p class="hidden" data-text="5">This is text appeared to 5 vertical slide</p>
        <p class="hidden" data-text="6">This is text appeared to 6 vertical slide</p>
      </div>
    </div>
    <div class="col-xs-12 col-sm-3">
      <div class="slider vertical">
        <figure class="item active" data-appearence="1">
          <img src="http://via.placeholder.com/100x200" alt="Vertical Slide 1 Image">
          <figcaption>Vertical Slide 1 Caption</figcaption>
        </figure>
        <figure class="item" data-appearence="2">
          <img src="http://via.placeholder.com/100x200" alt="Vertical Slide 2 Image">
          <figcaption>Vertical Slide 2 Caption</figcaption>
        </figure>
        <figure class="item" data-appearence="3">
          <img src="http://via.placeholder.com/100x200" alt="Vertical Slide 3 Image">
          <figcaption>Vertical Slide 3 Caption</figcaption>
        </figure>
        <figure class="item" data-appearence="4">
          <img src="http://via.placeholder.com/100x200" alt="Vertical Slide 4 Image">
          <figcaption>Vertical Slide 4 Caption</figcaption>
        </figure>
        <figure class="item" data-appearence="5">
          <img src="http://via.placeholder.com/100x200" alt="Vertical Slide 5 Image">
          <figcaption>Vertical Slide 5 Caption</figcaption>
        </figure>
        <figure class="item" data-appearence="6">
          <img src="http://via.placeholder.com/100x200" alt="Vertical Slide 6 Image">
          <figcaption>Vertical Slide 6 Caption</figcaption>
        </figure>
      </div>
    </div>
  </div>
  <footer>
    <div class="scripts">
      <script src="./lib/jquery/dist/jquery.min.js"></script>
      <script src="./lib/slick-carousel/slick/slick.min.js"></script>
      <script src="./js/main.js" charset="utf-8"></script>
    </div>
  </footer>
</body>

</html>
